{% extends 'electric_base.html' %}
{% load static %}
{% block main %}
    <div class="container-lg">
        <table class="display table table-borderless table-dark table-hover table-responsive table-sm table-striped" id="electricTable">
            <thead class="h6">
                <tr>
                    <th title="Hour">Hour</th>
                    <th title="kWh">kWh</th>
                </tr>
            </thead>
            <tbody>
            <!--
                <tr>
                    <td></td>
                    <td></td>
                </tr>
            -->
            </tbody>
            <tfoot class="h6">
                <tr class="table-group-divider">
                    <td><b>Total</b>:</td>
                    <td id="page-total"></td>
                </tr>
                <tr id="all-total-row">
                    <td><b>All</b>:</td>
                    <td id="all-total"></td>
                </tr>
            </tfoot>
        </table>
    </div>
    <link href="{% static 'datatables/datatables.min.css' %}" rel="stylesheet">
    <script src="{% static 'datatables/datatables.min.js' %}"></script>
    <script src="{% static 'datatables/sum.js' %}"></script>
{% endblock main %}
{% block scripts %}
    const pageTotalNode = document.getElementById('page-total')
    const allTotalNode = document.getElementById('all-total')
    async function footerTotal (api, col=1, digits=2) {
        let pageElectric = DataTable.render.number(',', '.', digits).display(api.column(col, {page: 'current'}).data().sum())
        pageTotalNode.innerHTML = `<code class="fw-bolder" title="Total: ${pageElectric} kWh">${pageElectric}</code>`
        pageTotalNode.title = `Total: ${pageElectric} kWh (on this page)`
        let totalElectric = DataTable.render.number(',', '.', digits).display(api.column(col).data().sum())
        allTotalNode.innerHTML = `<code class="fw-bolder">${totalElectric}</code>`
        allTotalNode.title = `All: ${totalElectric} Total kWh`
    }
    const exportFileName = 'ElectricTable'
    const resultName = 'hours'
    new DataTable('#electricTable', {
        ajax: {
            url: '/api/electric/?format=json',
            dataSrc: ''
        },
        columns: [
            {
                data: 'hour',
                render: DataTable.render.datetime('ff'),
                searchBuilderType: 'luxon',
                type: 'luxon'
                // 2024-12-07T23:00:00-05:00
            },
            {
                data: 'kwh',
                render: (data, type) => {
                    if (type === 'display') {
                        let electricText = 'primary'
                        if (data > 1) {
                            electricText = 'danger'
                        } else if (data > 0.75) {
                            electricText = 'warning'
                        } else if (data > 0.5) {
                            electricText = 'info'
                        }
                        return `<code class="fw-bold text-${electricText}-emphasis" title="${data} kWh">${data}</code>`
                    }
                    return data
                },
                searchBuilderType: 'num',
                type: 'num'
            }
        ],
        footerCallback: async function () {
            await footerTotal(this.api())
        },
        language: {
            'emptyTable': `No ${resultName} available in table`,
            'info': `Showing _START_ to _END_ of _TOTAL_ ${resultName}`,
            'infoEmpty': `Showing 0 to 0 of 0 ${resultName}`,
            'infoFiltered': `(filtered from _MAX_ total ${resultName})`,
            'lengthMenu': `_MENU_ ${resultName}`,
            'zeroRecords': `No matching ${resultName} found`,
            searchBuilder: {'title': null}
        },
        layout: {
            topStart: {buttons: [{
                extend: 'searchBuilder',
                config: {depthLimit: 1},
            }]},
            topEnd: {buttons: [
                {
                    extend: 'copyHtml5',
                    text: '<span class="bi bi-clipboard" title="Copy rows to clipboard"> Copy</span>',
                    title: exportFileName
                },
                {
                    extend: 'csvHtml5',
                    text: '<span class="bi bi-filetype-csv" title="Comma-Separated Values (.csv)"> CSV</span>',
                    title: exportFileName
                },
                {
                    extend: 'excelHtml5',
                    text: '<span class="bi bi-filetype-xlsx" title="Excel (.xlsx)"> Excel</span>',
                    title: exportFileName
                },
                {
                    extend: 'pdfHtml5',
                    text: '<span class="bi bi-filetype-pdf" title="Portable Data Format (.pdf)"> PDF</span>',
                    title: exportFileName
                },
                {
                    extend: 'print',
                    text: '<span class="bi bi-printer" title="Print"> Print</span>'
                },
            ]},
            bottomStart: 'pageLength',
            bottom1: 'paging',
            bottomEnd: 'info'
        },
        lengthMenu: [
            1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, {label: `12 *`, value: 12},
            13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 36, 48, 72, 96,
            {label: 'All', value: -1}
        ],
        order: [[0, 'desc']],
        pageLength: 12,
        stateSave: true
    })
{% endblock scripts %}
