{% load static %}
<!DOCTYPE html>
<html lang="en" class="dark" data-bs-theme="dark">
    <head>
        <meta charset="UTF-8">
        <meta name="author" content="Eric O'Callaghan">
        <meta name="description" content="{{ TITLE }}">
        <meta name="format-detection" content="telephone=no">
        <meta name="robots" content="noindex,nofollow">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta property="og:type" content="website">
        <meta property="og:site_name" content="{{ TITLE }} Usage">
        <meta property="og:title" content="{{ TITLE }} Usage">
        <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
        <link rel="apple-touch-icon" href="{% static 'logo.png' %}">
        <title>{{ TITLE }} Usage</title>
        <script src="{% static 'jquery-3.7.1.min.js' %}"></script>
        <script src="{% static 'luxon.min.js' %}"></script>
        <script>const DateTime = luxon.DateTime;</script>
        <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
        <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
        <link rel="stylesheet" href="{% static 'bootstrap-icons/font/bootstrap-icons.min.css' %}">
        <link href="{% static 'datatables/datatables.min.css' %}" rel="stylesheet">
        <script src="{% static 'datatables/datatables.min.js' %}"></script>
        <script src="{% static 'datatables/sum.js' %}"></script>
        <script src="{% static 'highcharts/highcharts.js' %}"></script>
        <script src="{% static 'highcharts/exporting.js' %}"></script>
        <script src="{% static 'highcharts/offline-exporting.js' %}"></script>
        <script src="{% static 'highcharts/export-data.js' %}"></script>
        <script src="{% static 'highcharts/accessibility.js' %}"></script>
        <style>
            :root {
                --color-electric: #e4a11b;
                --color-gas: #6610f2;
                --color-water: #2caffe;
            }
            .text-electric { color: var(--color-electric); }
            .text-gas { color: var(--color-gas); }
            .text-water { color: var(--color-water); }
            .highcharts-legend text, .highcharts-axis text, .highcharts-axis-labels text { stroke: #fff; }
            #logo { filter: invert(50%); }
            #logo:hover { filter: invert(75%); }
            .icon-link-hover svg { --bs-icon-link-transform: translate3d(0, -.5rem, 0); }
        </style>
    </head>
    <body class="container-fluid">
        <header class="mb-3">
            <nav class="navbar navbar-dark display-6 navbar-expand-lg">
                <a href="{% url 'index' %}" title="Utilities">
                    <img class="border border-secondary rounded navbar-brand" id="logo" alt="Utilities" src="{% static 'logo.png' %}" style="height: 5rem;">
                </a>
                <button class="border border-secondary m-3 navbar-dark navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle Navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse p-2" id="navbarNavDropdown">
                    <ul class="navbar-nav nav-underline">
                        <li class="border nav-item rounded border-{% if TITLE and TITLE == 'Electric' %}light{% else %}secondary{% endif %}" title="Electric">
                            <a class="nav-link icon-link icon-link-hover{% if TITLE and TITLE == 'Electric' %} active" aria-current="page{% endif %}" href="{% url 'electric' %}">
                                <svg class="bi text-electric" aria-hidden="true" style="color: var(--color-electric);">
                                    <use xlink:href="{% static 'bootstrap-icons/bootstrap-icons.svg' %}#lightbulb"></use>
                                </svg>
                                Electric
                            </a>
                        </li>
                        <li class="border nav-item rounded border-{% if TITLE and TITLE == '(Natural) Gas' %}light{% else %}secondary{% endif %}" title="(Natural) Gas">
                            <a class="nav-link icon-link icon-link-hover{% if TITLE and TITLE == '(Natural) Gas' %} active" aria-current="page{% endif %}" href="{% url 'gas' %}">
                                <svg class="bi text-gas" aria-hidden="true" style="color: var(--color-gas);">
                                    <use xlink:href="{% static 'bootstrap-icons/bootstrap-icons.svg' %}#fan"></use>
                                </svg>
                                (Natural) Gas
                            </a>
                        </li>
                        <li class="border nav-item rounded border-{% if TITLE and TITLE == 'Water' %}light{% else %}secondary{% endif %}" title="Water">
                            <a class="nav-link icon-link icon-link-hover{% if TITLE and TITLE == 'Water' %} active" aria-current="page{% endif %}" href="{% url 'water' %}">
                                <svg class="bi text-water" aria-hidden="true" style="color: var(--color-water);">
                                    <use xlink:href="{% static 'bootstrap-icons/bootstrap-icons.svg' %}#droplet"></use>
                                </svg>
                                Water
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <main class="container-fluid">
            {% block main %}
                <!-- -->
            {% endblock main %}
        </main>
        <footer class="container-fluid footer mt-5 mb-3">
            <a class="icon-link icon-link-hover link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="https://github.com/ericoc/utilities" target="_blank">
                <code>https://github.com/ericoc/utilities</code>
                <svg class="bi" aria-hidden="true">
                    <use xlink:href="{% static 'bootstrap-icons/bootstrap-icons.svg' %}#box-arrow-up-right"></use>
                </svg>
            </a>
        </footer>
        <script>
            {% block scripts %}
                <!-- -->
            {% endblock scripts %}
        </script>
    </body>
</html>
