{% extends 'base.html' %}
{% block css %}
    {{ block.super }}
{% endblock css %}
{% block main %}
    <div id="login">
    {% if form.errors %}
        <div class="alert alert-danger border list-group m-3 p-3 errors rounded">
        {% for error in form.errors.values %}
            <div class="list-group-item list-group-item-danger">{{ error }}</div>
        {% endfor %}
        </div>
    {% endif %}
    {% if messages %}
        <div class="alert border list-group m-3 p-3 messages rounded">
        {% for message in messages %}
            <div class="list-group-item list-group-item-{% if message.tags %}{{ message.tags }}{% else %}success{% endif %}">
                {{ message|default:"" }}
            </div>
        {% endfor %}
        </div>
    {% endif %}
    {% if form %}
        <form action="{% url 'login' %}" class="border m-3 p-3 rounded" method="post">
            <p class="fs-6 form-text">
                Please enter your username and password to add utility data.
            </p>
            {{ form.as_p }}
            {% csrf_token %}
            <p>
                <button class="btn btn-outline-primary rounded m-1" title="{{ title }}" type="submit">{{ title }}</button>
                <button class="btn btn-outline-secondary rounded m-1" title="Log out" type="submit">Log out</button>
            </p>
        </form>
    {% endif %}
    </div>
{% endblock main %}
