{% extends 'base.html' %}
{% block css %}
    {{ block.super }}
{% endblock css %}
{% block main %}
    <div id="login">
    {% if form.errors %}
        <div class="alert alert-danger border list-group m-3 p-3 errors rounded">
        {% for error in form.errors.values %}
            {{ error }}
        {% endfor %}
        </div>
    {% endif %}
    {% if messages %}
        <div class="alert border list-group m-3 p-3 messages rounded">
        {% for message in messages %}
            <div class="list-group-item list-group-item-{% if message.tags %}{{ message.tags }}{% else %}success{% endif %}">
                {{ message|default:"" }}
            </div>
        {% endfor %}
        </div>
    {% endif %}
    {% if form %}
        <form action="{% url 'login' %}" class="border m-3 p-3 rounded" method="post">
            <p class="fs-6 form-text">
                Please enter your username and password to add utility data.
            </p>
            <p>
                <label for="id_username">Username:</label>
                <input type="text" name="username" autofocus="" autocapitalize="none" autocomplete="username" maxlength="150" required="" id="id_username">
            </p>
            <p>
                <label for="id_password">Password:</label>
                <input type="password" name="password" autocomplete="current-password" required="" id="id_password">
            </p>
            {% csrf_token %}
            <p>
                <button class="btn btn-outline-primary rounded m-1" title="Log in" type="submit">Log in</button>
                <button class="btn btn-outline-secondary rounded m-1" title="Reset" type="reset">Reset</button>
            </p>
        </form>
    {% endif %}
    </div>
{% endblock main %}
