{% extends 'base.html' %}
{% load static %}
{% block main %}
            <div id="utility-chart"></div>
            <hr class="border-utility">
            <table class="display small table table-borderless table-dark table-hover table-responsive table-sm table-striped" id="utility-table">
                <thead class="h6">
                    <tr>
                        <th id="time-col"></th>
                        <th id="unit-col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr id="chart-loading">
                        <td colspan="2" class="text-center">
                            <div class="color-utility m-3 spinner-border" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                        </td>
                    </tr>
                </tbody>
                <tfoot class="h6">
                    <tr>
                        <td class="table-group-divider"><b title="This Page">This Page</b>:</td>
                        <td class="table-group-divider" id="page-total"></td>
                    </tr>
                    <tr>
                        <td><b title="All Pages">All Pages</b>:</td>
                        <td id="all-total"></td>
                    </tr>
                </tfoot>
            </table>
{% endblock main %}
{% block scripts %}
        {{ thresholds|json_script:"utilityThresholds" }}
        <script>
            const utilityColor = '{{ color }}'
            const utilityTitle = '{{ title }}'
            const dataTableTimeFmt = DataTable.render.{{ datatable_time_format|safe }}
            const utilityThresholds = JSON.parse(document.getElementById('utilityThresholds').textContent)
        </script>
        <script src="{% static 'utility.js' %}"></script>
{% endblock scripts %}
