{% extends 'base.html' %}
{% load static %}
{% block main %}
    <div id="gas-chart"></div>
    <hr>
    <table class="display table table-borderless table-dark table-hover table-responsive table-sm table-striped" id="gasTable">
        <thead class="h6">
        <tr>
            <th title="Month">Month</th>
            <th title="Hundreds of Cubic Feet (CCF)">Hundreds of Cubic Feet (CCF)</th>
        </tr>
        </thead>
        <tbody>
        <!--
            <tr>
                <td></td>
                <td></td>
            </tr>
        -->
        </tbody>
        <tfoot class="h6">
        <tr class="table-group-divider">
            <td><b>Total</b>:</td>
            <td id="page-total"></td>
        </tr>
        <tr id="all-total-row">
            <td><b>All</b>:</td>
            <td id="all-total"></td>
        </tr>
        </tfoot>
    </table>
{% endblock main %}
{% block scripts %}
    const xhr = new XMLHttpRequest()
    xhr.open("GET", "/api/gas/?format=json")
    xhr.onreadystatechange = async () => {
        if (xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {
            const gasUsageData = JSON.parse(xhr.responseText)
            const gasUsageByMonth = []
            for (const item of Object.values(gasUsageData)) {
                gasUsageByMonth.push([DateTime.fromISO(item.month).toMillis(), item.ccf])
            }
            const gasHighChart = new Highcharts.Chart({
                title: {  style: { color: '#f8f9fa' }, text: '(Natural) Gas Usage' },
                subtitle: {  style: { color: '#f8f9fa' }, text: document.ontouchstart === undefined ? 'Click and drag in the plot area to zoom in' : 'Pinch the chart to zoom in' },
                chart: {
                    backgroundColor: '#212529',
                    renderTo: 'gas-chart',
                    zoomType: 'x'
                },
                xAxis: { title: { text: 'Month' }, type: 'datetime' },
                yAxis: { title: { text: 'Hundreds of Cubic Feet (CCF)' }, type: 'num' },
                series: [{
                    color: '#6610f2',
                    data: gasUsageByMonth,
                    name: 'Hundreds of Cubic Feet (CCF)',
                    states: { hover: { lineWidthPlus: 0 } },
                    type: 'line'
                }],
                styledMode: true,
                time: { timezone: 'America/New_York' }
            })

            const pageTotalNode = document.getElementById('page-total')
            const allTotalNode = document.getElementById('all-total')
            async function footerTotal (api, col=1, digits=0) {
                let pageGas = DataTable.render.number(',', '.', digits).display(api.column(col, {page: 'current'}).data().sum())
                pageTotalNode.innerHTML = `<code class="fw-bolder">${pageGas}</code>`
                pageTotalNode.title = `Page Total: ${pageGas} Hundreds of Cubic Feet (CCF) (on this page)`
                let totalGas = DataTable.render.number(',', '.', digits).display(api.column(col).data().sum())
                allTotalNode.innerHTML = `<code class="fw-bolder">${totalGas}</code>`
                allTotalNode.title = `Total: ${totalGas} Hundreds of Cubic Feet (CCF) (all)`
            }
            const exportFileName = 'NaturalGasTable'
            const resultName = 'months'

            new DataTable('#gasTable', {
                data: gasUsageData,
                columns: [
                    {
                        data: 'month',
                        render: DataTable.render.datetime('MMMM y'),
                    },
                    {
                        data: 'ccf',
                        render: (data, type) => {
                            if (type === 'display') {
                                let gasText = 'primary'
                                if (data > 50) {
                                    gasText = 'danger'
                                } else if (data > 25) {
                                    gasText = 'warning'
                                } else if (data > 10) {
                                    gasText = 'info'
                                }
                                return `<code class="fw-bold text-${gasText}-emphasis" title="${data} Hundreds of Cubic Feet (CCF)">${data}</code>`
                            }
                            return data
                        },
                        type: 'num'
                    }
                ],
                footerCallback: async function () {
                    await footerTotal(this.api())
                },
                language: {
                    'emptyTable': `No ${resultName} available in table`,
                    'info': `Showing _START_ to _END_ of _TOTAL_ ${resultName}`,
                    'infoEmpty': `Showing 0 to 0 of 0 ${resultName}`,
                    'infoFiltered': `(filtered from _MAX_ total ${resultName})`,
                    'lengthMenu': `_MENU_ ${resultName}`,
                    'zeroRecords': `No matching ${resultName} found`
                },
                layout: {
                    topStart: {
                        buttons: [
                            {
                                extend: 'searchBuilder',
                                config: {depthLimit: 1},
                            }
                        ]
                    },
                    topEnd: {
                        buttons: [
                            {
                                extend: 'copyHtml5',
                                text: '<span class="bi bi-clipboard" title="Copy rows to clipboard"> Copy</span>',
                            },
                            {
                                extend: 'csvHtml5',
                                text: '<span class="bi bi-filetype-csv" title="Comma-Separated Values (.csv)"> CSV</span>',
                                title: exportFileName
                            },
                            {
                                extend: 'excelHtml5',
                                text: '<span class="bi bi-filetype-xlsx" title="Excel (.xlsx)"> Excel</span>',
                                title: exportFileName
                            },
                            {
                                extend: 'pdfHtml5',
                                text: '<span class="bi bi-filetype-pdf" title="Portable Data Format (.pdf)"> PDF</span>',
                                title: exportFileName
                            },
                            {
                                extend: 'print',
                                text: '<span class="bi bi-printer" title="Print"> Print</span>'
                            },
                        ]
                    },
                    bottomStart: 'pageLength',
                    bottom1: 'paging',
                    bottomEnd: 'info'
                },
                lengthMenu: [
                    1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11,
                    {label: `12 *`, value: 12},
                    24, 36, 48, 60, 72, 84, 96, 108, 120, 132, 144,
                    {label: 'All', value: -1}
                ],
                order: [[0, 'desc']],
                pageLength: 12,
                stateSave: true
            })
        }
    }
    xhr.send()
{% endblock scripts %}
